TOKEN=your-discord-bot-token
VERSION=1.0

# Database variables

LOCATION=IN
MONGODB_URI=host:port
DB_USER=your-mongo-username
DB_PASSOWRD=your-mongo-password

# Discord variables

CLIENT_ID=your-bot-client-id-here
TEST_GUILD_ID=your-testing-discord-server-id-here

# Card Variables

GAIN_A_DAY=5
SEARCH_A_DAY=5